*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}

table, th, td, thead {
  border: 1px solid rgb(129, 129, 129);
  border-collapse: collapse;
  color: rgb(61, 61, 61) !important;
}

td,th{
  padding: 0.5rem;
}