.container {
    background: linear-gradient(113.75deg, #A91906 3.22%, rgba(253, 30, 0, 0) 165.96%);
    height: 100vh;
    width: 100vw;
    display: flex;
}
.forms {
    background: #fff;
    height: 50vh;
    margin: auto;
    padding: 70px;
    width: 50vw;
    background: #FFFFFF;
    border-radius: 16px;
}
.search {
    background: #E7E7E7;
    border-radius: 7px;
    width: 237px;
    height: 24px;
    padding-left: 10px;
    
}
.btn {
    width: 237px;
    height: 27px;
    margin-top: 33px;
    background: #666666;
    border-radius: 7px;
    color: #fff;
}